In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
df=pd.read_csv("cell_samples.csv")

In [7]:
df

,ID,Clump,UnifSize,UnifShape,MargAdh,SingEpiSize,BareNuc,BlandChrom,NormNucl,Mit,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4

In [58]:
df['Class'].value_counts()

2    458
4    241
Name: Class, dtype: int64

In [59]:
df.columns

Index(['ID', 'Clump', 'UnifSize', 'UnifShape', 'MargAdh', 'SingEpiSize',
       'BareNuc', 'BlandChrom', 'NormNucl', 'Mit', 'Class'],
      dtype='object')

In [69]:
X=df[['Clump', 'UnifSize', 'UnifShape', 'MargAdh', 'SingEpiSize','BlandChrom', 'NormNucl', 'Mit']]

In [70]:
X[:5]

   Clump  UnifSize  UnifShape  MargAdh  SingEpiSize  BlandChrom  NormNucl  Mit
0      5         1          1        1            2           3         1    1
1      5         4          4        5            7           3         2    1
2      3         1          1        1            2           3         1    1
3      6         8          8        1            3           3         7    1
4      4         1          1        3            2           3         1    1

In [71]:
y=df['Class']

In [72]:
y[:5]

0    2
1    2
2    2
3    2
4    2
Name: Class, dtype: int64

In [73]:
from sklearn.model_selection import train_test_split

In [74]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=4)

In [75]:
print('training shape is ',X_train.shape)
print('testing shape is ',X_test.shape)

training shape is  (559, 8)
testing shape is  (140, 8)

# KNN

In [76]:
from sklearn.neighbors import KNeighborsClassifier

In [78]:
k=4
neigh=KNeighborsClassifier(n_neighbors=k).fit(X_train,y_train)
neigh

KNeighborsClassifier(n_neighbors=4)

In [79]:
y_hat=neigh.predict(X_test)

In [80]:
y_hat[:5]

array([4, 2, 2, 2, 2])

In [81]:
y_test[:5]

236    4
463    2
72     2
288    4
178    2
Name: Class, dtype: int64

In [83]:
from sklearn import metrics

In [84]:
print("The testing accuracy of the model is ",metrics.accuracy_score(y_hat,y_test))

The testing accuracy of the model is  0.9357142857142857

In [86]:
accuracy=[]
for i in range(1,11):
    neigh=KNeighborsClassifier(n_neighbors=i).fit(X_train,y_train)
    y_hat=neigh.predict(X_test)
    accuracy.append(metrics.accuracy_score(y_hat,y_test))

In [88]:
print(accuracy)

[0.9285714285714286, 0.8928571428571429, 0.9357142857142857, 0.9357142857142857, 0.95, 0.9428571428571428, 0.9428571428571428, 0.9428571428571428, 0.9428571428571428, 0.9285714285714286]

In [89]:
x=max(accuracy)

In [94]:
k=1
for i in accuracy:
    if(i==x):
        break
    else:
        k+=1
print("The accuracy of the model is ",x,'With K = ',k)

The accuracy of the model is  0.95 With K =  5

# Decision Tree

In [95]:
from sklearn.tree import DecisionTreeClassifier

In [103]:
tree=DecisionTreeClassifier()
tree=DecisionTreeClassifier(criterion='entropy')
tree

DecisionTreeClassifier(criterion='entropy')

In [104]:
tree.fit(X_train,y_train)

DecisionTreeClassifier(criterion='entropy')

In [110]:
y_hat1=tree.predict(X_test)

In [111]:
y_hat1[0:5]

array([4, 2, 4, 4, 2])

In [114]:
print('The training accuracy of the model is ',metrics.accuracy_score(y_hat1,y_test))

The training accuracy of the model is  0.9