In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("data.csv")

In [4]:
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

# Data Preprocessing

In [6]:
df.isnull().sum()

date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
street           0
city             0
statezip         0
country          0
dtype: int64

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
le=LabelEncoder()
for i in df.columns:
    df[i]=le.fit_transform(df[i])

In [12]:
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,0,402,3,4,93,1399,1,0,0,2,96,0,55,50,1522,36,62,0
1,0,1719,5,8,406,1701,2,0,4,4,373,29,21,0,3899,35,58,0
2,0,487,3,6,180,2196,0,0,0,3,182,0,66,0,2291,18,26,0
3,0,706,3,7,191,1439,0,0,0,3,52,109,63,0,4263,3,7,0
4,0,998,4,8,181,2026,0,0,0,3,70,85,76,37,4352,31,31,0

In [15]:
df.columns

Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'street', 'city',
       'statezip', 'country'],
      dtype='object')

In [22]:
X=df[['date', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'street', 'city',
       'statezip', 'country']]

In [23]:
y=df[['price']]

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [31]:
print("The shape of traing data is ",X_train.shape)
print("The shape of testing data is ",X_test.shape)

The shape of traing data is  (3680, 17)
The shape of testing data is  (920, 17)

# Model building

In [32]:
from sklearn.linear_model import LinearRegression

In [33]:
LR=LinearRegression()
LR.fit(X_train,y_train)

LinearRegression()

In [34]:
y_pred=LR.predict(X_test)

In [36]:
y_pred[0:5]

array([[1301.60726989],
       [1234.91581061],
       [ 866.65496639],
       [ 993.02248272],
       [ 727.46643298]])

In [38]:
y_test[0:5]

      price
488    1612
1100   1500
2046   1406
2766    751
473     783

In [53]:
print("The accuracy of the model is ",LR.score(X_test, y_test))

The accuracy of the model is  0.5723601326975106