In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("weatherAUS.csv")

In [4]:
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

# New Section

# Data Preprocessing

In [5]:
df=df.drop('Date',axis=1)

In [6]:
df.isnull().sum()

Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
le=LabelEncoder()

In [9]:
for i in df.columns:
    df[i]=le.fit_transform(df[i])

In [10]:
df

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2,213,262,6,358,145,13,21,13,14,...,71,22,215,232,8,10,224,262,0,0
1,2,153,284,0,358,145,14,21,6,15,...,44,25,244,239,10,10,227,287,0,0
2,2,208,290,0,358,145,15,22,13,15,...,38,30,214,248,10,2,265,276,0,0
3,2,171,313,0,358,145,4,10,9,0,...,45,16,314,290,10,10,236,309,0,0
4,2,254,356,10,358,145,13,19,1,7,...,82,33,246,221,7,8,233,341,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,41,107,267,0,358,145,0,14,9,1,...,51,24,384,366,10,10,156,268,0,0
145456,41,115,286,0,358,145,6,9,9,3,...,56,21,373,354,10,10,164,289,0,0
145457,41,133,302,0,358,145,3,17,9,14,...,53,24,348,331,10,10,180,305,0,0
145458,41,157,303,0,358,145,9,12,10,3,...,51,24,332,327,3,2,206,304,0,0
145459,41,228,505,0,358,145,16,67,2,2,...,62,36,340,342,8,8,205,253,0,2

In [11]:
df.isnull().sum()

Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RainTomorrow     0
dtype: int64

In [12]:
df.columns

Index(['Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')

In [13]:
X=df[['Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday']]

In [14]:
X.head()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,2,213,262,6,358,145,13,21,13,14,...,13,71,22,215,232,8,10,224,262,0
1,2,153,284,0,358,145,14,21,6,15,...,12,44,25,244,239,10,10,227,287,0
2,2,208,290,0,358,145,15,22,13,15,...,14,38,30,214,248,10,2,265,276,0
3,2,171,313,0,358,145,4,10,9,0,...,5,45,16,314,290,10,10,236,309,0
4,2,254,356,10,358,145,13,19,1,7,...,11,82,33,246,221,7,8,233,341,0

In [15]:
y=df['RainTomorrow']

In [16]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: RainTomorrow, dtype: int64

# Model Training

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [19]:
print("The shape of training is ",X_train.shape)
print("The shape of testing is ",X_test.shape)

The shape of training is  (116368, 21)
The shape of testing is  (29092, 21)

In [20]:
from sklearn.tree import DecisionTreeClassifier

In [21]:
tr=DecisionTreeClassifier(criterion='entropy')

In [22]:
tr.fit(X_train,y_train)

DecisionTreeClassifier(criterion='entropy')

In [23]:
y_pred=tr.predict(X_test)

In [24]:
y_pred[0:10]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 1])

In [25]:
y_test[0:10]

10568     0
120465    0
114622    0
28764     0
15318     0
13412     0
144923    0
24313     0
86078     0
16036     0
Name: RainTomorrow, dtype: int64

# Accuracy Metrices

In [26]:
from sklearn import metrics

In [27]:
print("The accuacy of the model is ",metrics.accuracy_score(y_pred,y_test))

The accuacy of the model is  0.7783583115633164

# KNeighborsClassifier

In [28]:
from sklearn.neighbors import KNeighborsClassifier

In [29]:
neigh=KNeighborsClassifier(n_neighbors=3)

In [30]:
neigh.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=3)

In [31]:
y_hat=neigh.predict(X_test)

In [32]:
y_hat[0:10]

array([0, 0, 1, 0, 0, 0, 0, 0, 0, 0])

In [33]:
y_test[0:10]

10568     0
120465    0
114622    0
28764     0
15318     0
13412     0
144923    0
24313     0
86078     0
16036     0
Name: RainTomorrow, dtype: int64

In [34]:
print("The accuracy of the model is ",metrics.accuracy_score(y_hat,y_test))

The accuracy of the model is  0.8132132545029561

In [45]:
from keras.layers import Dense, BatchNormalization, Dropout, LSTM
from keras.models import Sequential
from keras import callbacks

In [56]:
X_train.shape

(116368, 21)

In [57]:
y_train.shape

(116368,)

In [72]:
model = Sequential()
model.add(Dense(12, input_shape=(21,), activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [73]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [74]:
model.fit(X_train, y_train, epochs=5, batch_size=10)

Epoch 1/5
11637/11637 [==============================] - 32s 3ms/step - loss: -66.8811 - accuracy: 0.7756
Epoch 2/5
11637/11637 [==============================] - 31s 3ms/step - loss: -982.6981 - accuracy: 0.7662
Epoch 3/5
11637/11637 [==============================] - 32s 3ms/step - loss: -4756.9297 - accuracy: 0.7530
Epoch 4/5
11637/11637 [==============================] - 31s 3ms/step - loss: -13171.9150 - accuracy: 0.7409
Epoch 5/5
11637/11637 [==============================] - 31s 3ms/step - loss: -27567.9082 - accuracy: 0.7351