In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [2]:
df=pd.read_csv("pakwheels-11jul2020.csv")

In [3]:
df.head()

,Ad No,Name,Price,Model Year,Location,Mileage,Registered City,Engine Type,Engine Capacity,Transmission,Color,Assembly,Body Type,Features,Last Updated,URL
0,4096758,Toyota Vitz F 1.0 2017,2385000.0,2017,"G- 8, Islamabad Islamabad",9869,Un-Registered,Petrol,1000 cc,Automatic,Silver,Imported,Hatchback,"ABS, AM/FM Radio, Air Bags, Air Conditioning,...","Jul 11, 2020",https://www.pakwheels.com/used-cars/toyota-vit...
1,4168305,Toyota Corolla GLi Automatic 1.3 VVTi 2019,111000.00000000001,2019,Peshawar KPK,11111,Islamabad,Petrol,1300 cc,Automatic,White,Local,Sedan,"ABS, AM/FM Radio, Air Bags, Air Conditioning,...","Jul 12, 2020",https://www.pakwheels.com/used-cars/toyota-cor...
2,4168298,Suzuki Alto VXL 2019,1530000.0,2019,"Akora Khattak, Nowshera KPK",17500,Un-Registered,Petrol,660 cc,Automatic,White,Local,Hatchback,"ABS, AM/FM Radio, Air Bags, Air Conditioning,...","Jul 12, 2020",https://www.pakwheels.com/used-cars/suzuki-alt...
3,4168307,Suzuki Alto VXR 2019,1650000.0,2019,"Abdullahpur, Faisalabad Punjab",9600,Lahore,Petrol,660 cc,Manual,White,Local,Hatchback,"AM/FM Radio, Air Bags, Air Conditioning, DVD ...","Jul 12, 2020",https://www.pakwheels.com/used-cars/suzuki-alt...
4,4168306,Toyota Corolla XLi VVTi 2010,1435000.0,2010,"9th Avenue, Islamabad Islamabad",120000,Islamabad,Petrol,1300 cc,Manual,Black,Local,Sedan,"AM/FM Radio, Air Conditioning, CD Player, Key...","Jul 12, 2020",https://www.pakwheels.com/used-cars/toyota-cor...

In [4]:
df.columns

Index(['Ad No', 'Name', 'Price', 'Model Year', 'Location', 'Mileage',
       'Registered City', 'Engine Type', 'Engine Capacity', 'Transmission',
       'Color', 'Assembly', 'Body Type', 'Features', 'Last Updated', 'URL'],
      dtype='object')

In [5]:
df=df.drop(['Ad No','Name','Location','Registered City','Last Updated','URL'],axis=1)

In [6]:
df.head()

,Price,Model Year,Mileage,Engine Type,Engine Capacity,Transmission,Color,Assembly,Body Type,Features
0,2385000.0,2017,9869,Petrol,1000 cc,Automatic,Silver,Imported,Hatchback,"ABS, AM/FM Radio, Air Bags, Air Conditioning,..."
1,111000.00000000001,2019,11111,Petrol,1300 cc,Automatic,White,Local,Sedan,"ABS, AM/FM Radio, Air Bags, Air Conditioning,..."
2,1530000.0,2019,17500,Petrol,660 cc,Automatic,White,Local,Hatchback,"ABS, AM/FM Radio, Air Bags, Air Conditioning,..."
3,1650000.0,2019,9600,Petrol,660 cc,Manual,White,Local,Hatchback,"AM/FM Radio, Air Bags, Air Conditioning, DVD ..."
4,1435000.0,2010,120000,Petrol,1300 cc,Manual,Black,Local,Sedan,"AM/FM Radio, Air Conditioning, CD Player, Key..."

In [15]:
df['Engine Type'].value_counts()

Petrol    50840
Hybrid     2132
Diesel     1932
Name: Engine Type, dtype: int64

In [16]:
df.isnull().sum()

Price                 0
Model Year            0
Mileage               0
Engine Type        1282
Engine Capacity       0
Transmission          0
Color                 0
Assembly              0
Body Type          6469
Features           5421
dtype: int64

In [17]:
from sklearn.preprocessing import LabelEncoder

/Users/fidaalibaig/opt/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [18]:
le=LabelEncoder()
for i in df.columns:
    df[i]=le.fit_transform(df[i])

In [19]:
df.head()

,Price,Model Year,Mileage,Engine Type,Engine Capacity,Transmission,Color,Assembly,Body Type,Features
0,526,27,354,2,1,0,18,0,4,1336
1,47,29,404,2,9,0,21,1,13,1343
2,234,29,624,2,94,0,21,1,4,1576
3,282,29,344,2,94,1,21,1,4,2979
4,192,20,4479,2,9,1,2,1,13,3935

In [20]:
df.isnull().sum()

Price              0
Model Year         0
Mileage            0
Engine Type        0
Engine Capacity    0
Transmission       0
Color              0
Assembly           0
Body Type          0
Features           0
dtype: int64

In [21]:
df.columns

Index(['Price', 'Model Year', 'Mileage', 'Engine Type', 'Engine Capacity',
       'Transmission', 'Color', 'Assembly', 'Body Type', 'Features'],
      dtype='object')

In [22]:
X=df[['Model Year', 'Mileage', 'Engine Type', 'Engine Capacity',
       'Transmission', 'Color', 'Assembly', 'Body Type', 'Features']]

In [23]:
y=df[['Price']]

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [26]:
X_train.shape

(44948, 9)

In [27]:
y_train.shape

(44948, 1)

In [28]:
X_test.shape

(11238, 9)

In [29]:
y_test.shape

(11238, 1)

In [30]:
from sklearn.linear_model import LinearRegression

In [31]:
lr=LinearRegression()

In [32]:
lr.fit(X_train,y_train)

LinearRegression()

In [33]:
y_hat=lr.predict(X_test)

In [34]:
y_hat[0:5]

array([[ 540.32563472],
       [1277.83547926],
       [ 496.11347947],
       [ 944.35503025],
       [ 581.09188217]])

In [35]:
y_test[0:5]

       Price
36672    740
19561    339
1825     549
33009    951
32074    244

In [36]:
from sklearn import metrics

In [37]:
rmse = math.sqrt(metrics.mean_squared_error(y_test,y_hat))

In [38]:
print('The mean square error is ',rmse)

The mean square error is  455.6774824218199