In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [12]:
df=pd.read_csv('LinearRegData.csv')

In [13]:
df.head()

   -15.93675813378541  2.134310506729669
0          -29.152979           1.173257
1           36.189549          34.359109
2           37.492187          36.837955
3          -48.058829           2.808965
4           -8.941458           2.121072

In [15]:
df.columns=['col1','col2']

In [16]:
df.head()

        col1       col2
0 -29.152979   1.173257
1  36.189549  34.359109
2  37.492187  36.837955
3 -48.058829   2.808965
4  -8.941458   2.121072

In [17]:
X=df['col1']
y=df['col2']

In [27]:
X=np.array(X)

In [29]:
X.shape

(53,)

In [30]:
X=X.reshape(-1, 1)

In [31]:
X.shape

(53, 1)

In [32]:
y=np.array(X)
y=y.reshape(-1, 1)

In [33]:
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression,LogisticRegression

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [35]:
lin_model=LinearRegression()

In [36]:
lin_model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [37]:
pred = lin_model.predict(X_test)

In [38]:
from sklearn.metrics import mean_squared_error

In [39]:
mean_squared_error(y_test,pred)

0.0

In [40]:
y_test

array([[ 26.53363489],
       [ 36.18954863],
       [ 32.55976024],
       [ 44.20988595],
       [-51.20693795],
       [-50.01324365],
       [-40.68611002],
       [-47.01007574],
       [ 39.22350028],
       [ 37.49218733],
       [ 27.31176864],
       [ -1.81827649],
       [ -9.01180139],
       [-55.94057091],
       [-31.10955398],
       [ 25.37409938]])

In [41]:
pred

array([[ 26.53363489],
       [ 36.18954863],
       [ 32.55976024],
       [ 44.20988595],
       [-51.20693795],
       [-50.01324365],
       [-40.68611002],
       [-47.01007574],
       [ 39.22350028],
       [ 37.49218733],
       [ 27.31176864],
       [ -1.81827649],
       [ -9.01180139],
       [-55.94057091],
       [-31.10955398],
       [ 25.37409938]])

In [42]:
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet

In [43]:
model=Ridge()

In [44]:
model.fit(X_train,y_train)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [45]:
pred2 = model.predict(X_test)

In [47]:
mean_squared_error(y_test,pred2)

2.381379753120807e-06